{% extends "root/base.html" %}

{% load static %}
{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{% static "root/css/base-note.css" %}" />

{% endblock %}

{% block content %}
        <div class="main-body">
            <div class="content">
                <h1>Avarion</h1>
                <p>When I think of people, I think of water. People inflate themselves with air to float on the surface and expose themselves to the world. They have a personality this way; at least that’s what they like to think.</p>

                <p>But they just want to be something to contend with. A force in the world. Something that stands out and is unmovable. But they're deceiving themselves. People make up the seas; the force they think they possess is not their own, but of the wave they ride. It’s the force of society that moves them, not the other way around. Apply a little pressure and they submerge and hide, remove that pressure and they reveal themselves again.</p>

                <p>It’s their ego I suppose, perhaps with a hint of fear. Or fear with a hint of ego. What are their options really? Ride the wave or fight it? How do they fight it if they’re floating on it? In order to take it on they need firm ground, which is all the way down in the depths of the ocean. For firm ground they would have to dive into the darkness and unknown. They would have to grapple with it and never lose hope until they find their footing. From there they slowly build themselves up until they reach the surface once more, ready to stand against the tides.</p>

                <p>Why would anyone want to go through that slow and painful process? Screw it. I’m good where I am, thank you.</p>

<p>But this is sad and scary.
Where will the tides take me?
Will I notice them taking me somewhere dangerous?
Will I become the danger to someone else?
My only option here is to let out all my air and let myself sink. I will have to face the dark, scary, and overwhelming unknown, and carry no reason to place myself above others save for the sole fact that I am probably one of the few adventurers that decided to descend.
And so here begins the journey.</p>
            </div>
        </div>

{% endblock %}