{% extends 'root/base.html' %}

{% load static %}
{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{% static "root/css/base-edit.css" %}" />

{% endblock %}

{% block content %}

<div class="main-body">
	<div class="content">
	
		{% if request.user.is_authenticated %}
		<form action="{% url 'essay_create' %}" method="POST">
			{% csrf_token %}
	        <h1>{{ form.title }}</h1>
            <h1>{{ form.slug }}</h1>
            <div>{{ form.category }}</div>
            <input type="submit" name="submit" value="Save" />
            {{ form.content }}
		</form>
        {% else %}
        <p>You are not logged in.</p>
		{% endif %}

	</div>
</div>

{% endblock %}