{% extends "root/base.html" %}

{% load static %}
{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{% static "root/css/base-list.css" %}" />

{% endblock %}

{% block content %}

        <div class="trays">
            
            {% if user.is_authenticated %}
            <div class="new"><a href="{% url 'essay_create' %}">New +</a></div>
            {% endif %}
            
            <div class="single-tray">
            	{% for essay in all_final %}
                <div class="entry">
                    <a href="{% url 'essay_detail' essay.slug %}"><h1 class="card">A</h1></a>
                    <h4><a href="{% url 'essay_detail' essay.slug %}">{{ essay.title }}</a></h4>
                </div>
                {% endfor %}
            </div>
            
            {% if user.is_authenticated and all_drafts %}
            <div class="single-tray">
            	{% for essay in all_drafts %}
                <div class="entry">
                    <a href="{% url 'essay_detail' essay.slug %}"><h1 class="card">A</h1></a>
                    <h4><a href="{% url 'essay_detail' essay.slug %}">{{ essay.title }}</a></h4>
                </div>
                {% endfor %}      
            </div>
            {% endif %}
        </div>

{% endblock %}